/* import font */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Layout - Mobile: 375px, - Desktop: 1440px */

  /* ## Colors */

  /* ### Primary */
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* ### Neutral */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);

  /* Note for text colors:
1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

  /* ## Typography */
  /* ### Body Copy */

  --Font-body: 13px;
  --Font-Barlow-Seal: "Barlow Semi Condensed", sans-serif;
  --Font-500: 500;
  --Font-600: 600;

  /* - Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed) */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  border-radius: 50%;
}
body {
  font-family: var(--Font-Barlow-Seal);
  background-color: var(--Light-grayish-blue);
}

main,
.testimonials__container {
  max-width: 87%;
  width: 100%;
  margin: 0 auto;
  margin-block: 46px;
  /* border: 2px solid black; */
}

.testimonial__card {
  /* border: 2px solid green; */
  background-color: orange;
  border-radius: 8px;
  margin: 28px 0;
  padding: 24px 30px;
  color: var(--White);
}

/* modifier */
.testimonial__card--light {
  background-color: orange;
  color: var(--Very-dark-grayish-blue);
}

.testimonial__card .user__section {
  display: flex;
  align-items: center;
  font-size: var(--Font-body);
  padding-bottom: 18px;
}

.testimonial__card .user-profile {
  border-radius: 50%;
  border: 2px solid hsla(0, 0%, 100%, 0.7);
  max-width: 32px;
  margin-right: 16px;
}

.testimonial__card .user-profile.violet {
  border-color: var(--Moderate-violet);
}
.testimonial__card .user__status {
  color: hsla(0, 0%, 100%, 0.5);
}

/* modifier light v~ */
.testimonial__card--light .user__status {
  color: hsla(217, 19%, 35%, 0.5);
}

.testimonial__card .headline {
  font-size: 20px;
  line-height: 1.1;
  padding-bottom: 20px;
}

.testimonial__card .text {
  font-size: var(--Font-body);
  color: hsla(0, 0%, 100%, 0.5);
  /* padding-bottom: 20px; */
  line-height: 1.5;
}

/* modifier light v~ */
.testimonial__card--light .text {
  color: hsla(217, 19%, 35%, 0.7);
}

/* card background colors and images */
.testimonial__card:nth-child(1) {
  background-color: var(--Moderate-violet);
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 20px;
}

.testimonial__card:nth-child(2) {
  background-color: var(--Very-dark-grayish-blue);
}

.testimonial__card:nth-child(3),
.testimonial__card:nth-child(5) {
  background-color: var(--White);
}

.testimonial__card:nth-child(4) {
  background-color: var(--Very-dark-blackish-blue);
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  main,
  .testimonials__container {
    max-width: 77%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-row: repeat(2, 1fr);
    gap: 24px;
  }

  .testimonial__card {
    margin: 0;
  }

  .testimonial__card:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .testimonial__card:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .testimonial__card:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .testimonial__card:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .testimonial__card:nth-child(5) {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}
